# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#rest
*.sdf
*.sln
*.pdb
*.ilk
*.filters
*.vcxproj
*.log
*.idb
*.tlog
*.lastbuildstate
*.log
*.vs